<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.siteadi"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:label="@string/app_name" 
    android:icon="@drawable/uygulamasimgesi">
        <activity android:name="_027_MotoDev_KullanimActivity"
                  android:label="@string/app_name" 
                  android:icon="@drawable/simge1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="sayfa2" 
        android:label="@string/sayfa2baslik"
        android:icon="@drawable/simge2"/>
        
        <activity android:name="sayfa3" 
        android:label="@string/sayfa3baslik" 
        android:icon="@drawable/simge3"/> 
        
    </application>
</manifest>